body {
    width: 600px;
    margin-left: 128px;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    line-height: 1.5;
    font-weight: 400;
    color: #2D2D2D;
}

a {
    text-decoration: none;
}
